
.plane {
    
    position: fixed;
    z-index: 100;
    margin-top: 20%;
    margin-left: 10%;
    
     -webkit-animation-name: example3; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards;
  
    
}

.plane:hover{
    
    -webkit-animation-name: example2; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards;
   
   

}


.background {

    -webkit-animation-name: example1; /* Chrome, Safari, Opera */
    -webkit-animation-timing-function:linear;
    -webkit-animation-duration: 6s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count:infinite;
  
}




@-webkit-keyframes example1 {
    
  from {transform: translateX(0%);}
    
    to  {transform: translateX(-40%)}
    
}

@-webkit-keyframes example2{
    
  
    
    from {transform: translateY(0%);}
    
    to  {transform: translateY(-80%);}
}


@-webkit-keyframes example3{
    
  
    
    from {transform: translateY(-80%);}
    
    to  {transform: translateY(0%);}
}

